@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Nohemi";
  src: url("/fonts/Nohemi-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Nohemi";
  src: url("/fonts/Nohemi-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Nohemi";
  src: url("/fonts/Nohemi-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Nohemi";
  src: url("/fonts/Nohemi-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Nohemi";
  src: url("/fonts/Nohemi-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

:root {
  --black: #1f1f27;
  --blue: #000dff;
  --orange: #f97432;
  --blueGradient: linear-gradient(135deg, #6b73ff 0%, #000dff 100%);
  --orangeGradient: linear-gradient(135deg, #fec163 0%, #de4313 100%);
  --darkBackground: linear-gradient(104deg, #00173e 0%, #030118 100%);
  --grey: #bababc;
  --lightBlue: #e6e7ff;
  --white: #f5f5f5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Nohemi, Inter, sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: var(--white) !important;
  position: relative;
  min-height: 100vh;
}

section {
  padding: 0 160px;
}

h1 {
  font-weight: 600;
  color: var(--white);
  line-height: normal;
}

.paragraph {
  line-height: 26px;
  letter-spacing: 0.64px;
}

nav a,
.navbar-link {
  line-height: normal;
}

.blueGradient {
  background: var(--blueGradient);
}

.blue-gradient-text {
  background-clip: text;
  color: transparent;
  background-image: var(--blueGradient);
}

.orange-gradient {
  background: var(--orangeGradient);
}

.orange-gradient-text {
  background: var(--orangeGradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-clip-text {
  background-clip: text;
}

.dark-background {
  background: var(--darkBackground);
}

.orange-circle {
  display: inline-block;
}

.blue-shadow {
  box-shadow: 0px 12px 27px 0px rgba(0, 81, 214, 0.05),
    0px 48px 48px 0px rgba(0, 81, 214, 0.04),
    0px 109px 65px 0px rgba(0, 81, 214, 0.03),
    0px 194px 78px 0px rgba(0, 81, 214, 0.01),
    0px 303px 85px 0px rgba(0, 81, 214, 0);
}

.lightBlue-shadow {
  box-shadow: 0px 4px 9px 0px rgba(0, 81, 214, 0.15),
    0px 17px 17px 0px rgba(0, 81, 214, 0.13),
    0px 38px 23px 0px rgba(0, 81, 214, 0.08),
    0px 68px 27px 0px rgba(0, 81, 214, 0.02),
    0px 106px 30px 0px rgba(0, 81, 214, 0);
}

.orange-shadow {
  filter: drop-shadow(0px 8px 17px rgba(249, 116, 50, 0.15))
    drop-shadow(0px 31px 31px rgba(249, 116, 50, 0.13))
    drop-shadow(0px 69px 41px rgba(249, 116, 50, 0.08))
    drop-shadow(0px 122px 49px rgba(249, 116, 50, 0.02))
    drop-shadow(0px 191px 54px rgba(249, 116, 50, 0));
}

.grey-shadow {
  filter: drop-shadow(0px 8px 17px rgba(176, 176, 176, 0.15))
    drop-shadow(0px 31px 31px rgba(176, 176, 176, 0.13))
    drop-shadow(0px 69px 41px rgba(176, 176, 176, 0.08))
    drop-shadow(0px 122px 49px rgba(176, 176, 176, 0.02))
    drop-shadow(0px 191px 54px rgba(176, 176, 176, 0));
}

.testimonialCard-shadow {
  box-shadow: 0px 8px 17px 0px rgba(176, 176, 176, 0.15),
    0px 31px 31px 0px rgba(176, 176, 176, 0.13),
    0px 69px 41px 0px rgba(176, 176, 176, 0.08),
    0px 122px 49px 0px rgba(176, 176, 176, 0.02),
    0px 191px 54px 0px rgba(176, 176, 176, 0);
}

.isOpen {
  display: block;
}

.swiper {
  overflow-y: visible;
  overflow-x: clip;
}

.section-cards {
  position: relative;
}

.searchbar-input:focus {
  outline: none;
  border: none;
  color: var(--black);
}

.property-card {
  filter: drop-shadow(0px 8px 17px rgba(176, 176, 176, 0.15))
    drop-shadow(0px 31px 31px rgba(176, 176, 176, 0.13))
    drop-shadow(0px 69px 41px rgba(176, 176, 176, 0.08))
    drop-shadow(0px 122px 49px rgba(176, 176, 176, 0.02))
    drop-shadow(0px 191px 54px rgba(176, 176, 176, 0));
}

.property-card:hover {
  filter: drop-shadow(0px 8px 17px rgba(249, 116, 50, 0.15))
    drop-shadow(0px 31px 31px rgba(249, 116, 50, 0.13))
    drop-shadow(0px 69px 41px rgba(249, 116, 50, 0.08))
    drop-shadow(0px 122px 49px rgba(249, 116, 50, 0.02))
    drop-shadow(0px 191px 54px rgba(249, 116, 50, 0));
}

.mantine-Modal-content {
  padding: 0;
  text-align: center;
}

.mantine-DatePicker-levelsGroup {
  justify-content: center;
}

.mantine-InputWrapper-root {
  text-align: left;
}

.mantine-InputWrapper-label {
  font-weight: 400 !important;
  font-size: 1rem !important;
}

.mantine-Fieldset-legend {
  color: var(--black);
  font-weight: 400;
}
